*{
    margin:0 ;
    padding: 0;
}

body{
    background-image: linear-gradient( to right,black, gray);
    font-family: Arial, sans-serif;
    
}

header{
    color: rgb(5, 5, 5);
    text-align: center;
    padding: 1em;
    font-family:Arial, Helvetica, sans-serif;
}

.txt-titulo{
    text-shadow: 10px, 10px, 10px white;
}

header h2{
    color: rgb(153, 153, 153)
}

footer{
    color: white;
    text-align: center;
    padding: 1em;
}

.img-perfil{
    width: 10%;
    border-radius: 50%;
}

.conteudo{
    width: 100% !important;
    background-color: rgb(255, 255, 255) !important;
    padding: 2em !important;
    margin-top: 1em !important;
    border-radius: 2em !important;
}

.principal{
    text-align: center !important;
    margin-left: 25% !important;
    margin-right: 25% !important;
    margin-top: 1% !important;
    margin-bottom: 15% !important;

}

.img-icone{
    width: 150% !important;
}

.txt-icone{
    font-size: 250% !important;
    
}

a{
    text-decoration: none !important;
    color: rgb(0, 0, 0) !important;
}

@media (min-width: 200px) and (max-width: 768px){
    .img-icone{
        width: 250%;
    }
    .txt-icone{
        font-size: 220% !important;
    }
    .conteudo{
        width: 130% !important;
        background-color: white !important;
        padding: 1em !important;
        margin-top: 2em !important;
        border-radius: 1em !important;
    }
    .principal{
        text-align: center !important;
        margin-left: 10% !important;
        margin-right: 23% !important;
        margin-top: 1% !important;
        margin-bottom: 15% !important;
    
    }
    .img-perfil{
        width: 10%;
        border-radius: 50%;
    }
    .txt-titulo{
        font-size: 220%;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }
}


